<!DOCTYPE html>
<html lang="es">
<head>
	<title>Panel de control | {{ usuario.nombre }}</title>
	<meta charset="utf-8">
	{% block stylesheets %}
	<link href="{{ asset('bundles/front/css/portada.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/extranet/css/extranet.css') }}" rel="stylesheet" type="text/css" />
	{% endblock %}
</head>
<body>
	<div class="contenedor">
		<header>
			<a href="{{ path('extranet') }}">
				<img src="{{ asset('bundles/front/images/alood_logo.png') }}"/>
			</a>
			<nav>
				<ul>
					<li>
						<a href="{{ path('editarPerfil', { 'id': usuario.usuario }) }}">Editar perfil</a>
					</li>
					<li class="no-space">
						<a href="{{ path('logout') }}"> <p class="button1 green">Logout</p></a>
					</li>
				</ul>
			</nav>
		</header>
		<article>
			<section id="extranet_ppal">
				<h2>Editar perfil</h2>
				
				<form action="{{ path('editarPerfil', { 'id': usuario.usuario }) }}" method="post" >
					
					
			        <div class="form sidebyside">
			            {{ form_label(formulario.usuario, 'Usuario:') }}
			            {{ form_widget(formulario.usuario,  { 'attr': { 'disabled': 'true' } }) }}
						{{ form_errors(formulario.usuario) }}
			        </div>
					
					
			        <div class="form sidebyside">
			            {{ form_label(formulario.nombre, 'Nombre del fabricante:') }}
			            {{ form_widget(formulario.nombre,  { 'attr': { 'disabled': 'true' } }) }}
						{{ form_errors(formulario.nombre) }}
			        </div>
					
					<div style="clear:both"></div>
					
			        <div class="form sidebyside">
						{{ form_label(formulario.email, 'email:') }}
						{{ form_widget(formulario.email) }}
						{{ form_errors(formulario.email) }}
			        </div>
					
			        <div class="form sidebyside">
			            {{ form_label(formulario.telefono, 'Telefono:') }}
			            {{ form_widget(formulario.telefono) }}
						{{ form_errors(formulario.telefono) }}
			        </div>
					
					<div style="clear:both"></div>
					
			        <div class="form sidebyside">
			            {{ form_widget(formulario.password) }}
						{{ form_errors(formulario.password) }}
			        </div>
					
					<div style="clear:both"></div>
					<br/>
					<br/>
					{{ form_rest(formulario) }}
					
				    <input type="submit" value="Guardar" />
					
					<div style="clear:both; overflow:hidden">
					
					<p class="error">{{ form_errors(formulario) }}</p>
					
				</form>
				
			</section>
		</article>
	</div>
</body>
</html>